body {
    font-family: "Vazirmatn", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    margin: 20px;
    direction: rtl;
    text-align: right;
}
.form-container {
    max-width: 1000px;
    margin: 0 auto;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    text-align: right;
}
#submit-button, #reset-button {
    font-family: "Vazirmatn", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 20px 10px 20px 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 30%;
    box-sizing: border-box;
}
#reset-button {
    background-color: #6c757d;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    direction: rtl;
    text-align: right;
}
.select2-container--default .select2-results__option {
    direction: rtl;
    text-align: right;
}
@media (max-width: 1000px) {
    .form-container {
        padding: 10px;
    }
    #submit-button, #reset-button {
        width: 100%;
    }
}
.imei-box {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}
.loader {
    display: none; /* Initially hidden */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    text-align: center;
}
.loader img {
    width: 30%;
    height: 30%;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}